.col-md-3 {
    padding: 0;
}
.col-md-9 {
    padding: 0;
}
.head {
    text-align: center;
    background-color: #593C1e;
    height: 400px;
    line-height: 400px;
}
h1 {
    font-family: 'Oxygen', sans-serif;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
li a {
    color: black;
    text-align: center;
    /*    padding: 14px 16px;*/
    text-decoration: none;
}
ul {
    list-style-type: none;
    overflow: hidden;
    /*    display: flex;*/
    /*    justify-content: space-around;*/
    position: fixed;
    margin: 0;
    padding: 0;
}
li {
    height: 25vh;
    width: 25vw;
    background-color: #593C1e;
    line-height: 25vh;
    padding-left: 25px;
}
.active {
    background-color: white;
}
