/*LATASHA*/

body {
    background-color: #7d4627;
    padding-top: 100px;
}

.navbar-default {
    background-color: #7d4627;
    border-color: #E7E7E7;
    padding: 10px;
}

.navbar-default .navbar-brand {
    padding-top: 8px;
    transform: translateY(-35px);
}

.navbar-header img {
    height: 100px;
    width: 120px;
}


/* Link */

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
}

.coffee-product-items {
    background-image: url("../images/IMG_2299.jpg");
    height: 350px;
    width: 350px;
    background-size: cover;
    border-radius: 50%;
}

.content {
    background-color: white;
    padding: 50px;
}


/*Begining of carousel*/

/*.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 70%;
    height: 100%;
    margin: auto;
    position: absolute;
}*/

.carousel-caption {
    z-index: 1;
    position: relative;
}

.item {
    height: 400px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-image-1 {
    background-image: url("../images/assemble%20bottle.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 27%;
}

.carousel-image-2 {
    background-image: url("../images/bottle.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 27%;
}

.carousel-image-3 {
    background-image: url("../images/spray%20bottle.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 45%;
}

.carousel-image-4 {
    background-image: url("../images/food-beans-coffee-drink.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20%;
}

ul {
    list-style-type: none;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}


/*end*/

.foot {
    margin-bottom: 20px;
}

.about {
    border-right: 2px solid black;
}

footer {
    border-top: 1px solid black;
}


/*YONKO*/


/*.head {
    text-align: center;
    background-color: #593C1e;
    height: 400px;
    line-height: 400px;
}

.head img {
    height: 5000px;
}




li a {
    color: black;
    text-align: center;
    text-decoration: none;
}


li {
    font-size: 24px;*/


/*padding-left: 20px;*/


/*    color: black;
}

li a:hover {
    text-decoration: none;
    color: white;
}

.active {*/


/*background-color: white;*/


/*}
*/


/*
.content .col-md-6 {
    height: 500px;
    font-size: 20px;
    overflow: hidden;
}
*/


/*
.content .col-md-6:first-child {
    background-image: url("../images/IMG_2294.jpg");
    background-size: cover;
    background-position: center;
}
.content .col-md-6:last-child {
    background-image: url("../images/pexels-photo-134577.jpeg");
    background-size: cover;
    background-position: center;
}
*/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer-area {
    background: #fff url("../images/footer/footer-bg.png") repeat scroll left top;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
}


/*Begining of carousel*/


/*.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 70%;
    height: 100%;
    margin: auto;
    position: relative;
}

.carousel-caption {
    position: absolute;
    margin-bottom: 200px;
    margin-left: -55px;
}

.item img {
    max-height: 400px;
}*/


/*end*/


/*button {
    border: 0;
    background: #0087cc;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin-right: 30px;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    float: right;
}*/

#oilhide {
    display: none;
}

#less {
    display: none;
}

#products {
    background-color: ;
}

form {}
